#banner {
    background-image: url("./../images/header-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#navbar {
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    /* background-color: #2d3339; */
    background-color: transparent;
}

/* #navbar #button-container {
    
} */

#navbar #button-container > .button-bg{
    float: right;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    border: none;
}

#navbar #button-container > .button-bg:hover::after {
    content: '';
    position: absolute;
    width: 10px;
    background-image: url('./../images/svg/right-arrow-hover.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 40%;
    /* background-size: cover; */
    /* background-color: red; */
    right : 0;
    height: 70%;
    overflow: hidden;
}

#navbar #button-container > .button-bg:hover {
    padding-right: 1.5%;
    /* border: none; */
}



