*{
  padding: 0;
  margin: 0;
}
.navigation-left{
  width: 15%;
  height: 100vh;
  background-color: #212f3c;
  float: left;
}

.content-right{
  width: 85%;
  height: 100vh;
  float: right;
}

.header-box{
  background-color:  #5d6d7e;
  width: 100%;
  height: 50px;
  text-align: center;
}
.content-right-header-box{
  background-color: #d0d3d4;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
}
.toggle{
  width: 20%;
  height: 100%;
  float: left;
  background-color:  #d0d3d4;
  padding-top: 15px;
}
.toggle:hover{
  color: #f7b731;
  font-size: 1.1rem;
}
.navigation-left-title{
  float: right;
  width: 80%;
  height: 100%;
  padding-top: 15px;
}
.navigation-left-title h1{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 15px;
  color: #f7b731;
}

.navigation-left-items{
  padding-top: 30px;
  padding-left: 15px;
  color: white;
}
.navigation-left-items small{
  padding-left: 10px;
}

.navigation-left-items:hover{
  color: #f7b731;
  font-size: 1.1rem;
}
.navigation-left-items:active{
  font-size: 1rem;
}


.nav-items li{
  float: right;
}
