#banner {
    background-image: url("./../images/wall1.jpg"), linear-gradient(grey 0%,transparent 3%);
    background-position: bottom,top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#navbar {
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    /* background-color: #2d3339; */
    background-color: transparent;
}

/* #navbar #button-container {
    
} */

#navbar #button-container > .button-bg{
    float: right;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    border: none;
    font-weight: 500;
}

#navbar #button-container > .button-bg:hover::after {
    content: '';
    position: absolute;
    width: 10px;
    background-image: url('./../images/svg/right-arrow-hover.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 40%;
    /* background-size: cover; */
    /* background-color: red; */
    right : 0;
    height: 70%;
    overflow: hidden;
}

#navbar #button-container > .button-bg:hover {
    padding-right: 1.5%;
    /* border: none; */
}

@media screen and (max-width: 600px) {
    #navbar #button-container > .button-bg:hover {
        padding-right: 3%;
    }
}

.nav-logo {
    background-image: url('./../images/nav-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 15px;
    display: none;
    height: 100%;
}



