.view_user_title{
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.view_user_title h1{
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.view_user{
  display: flex;
  justify-content: center;
}

.table th{
  font-weight: bold;
  text-transform: uppercase;
}
.table td, .table th{
  padding: 5px 15px;
  font-size: 20px;

  text-align: center;
}
