<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cab Online Reservation</title>

    <link rel="stylesheet" href="../assets/css/basic-style.css">
    <link rel="stylesheet" href="../assets/css/signup.css">

  </head>
  <body>
    <div class="signup-box">

      <!-- Header Title -->
      <div class="signup-title">
        <div class="signup-title-logo">
          Taxi
        </div>
        <div class="signup-title-login">
          Already Have an Account? <a href="./login.php">Sign In</a>
        </div>
      </div>

      <!-- Title -->
      <div class="signup-box-container-title">
          <h1>Create a Free Account</h1>
          <div class="button-bg" id="driver-btn">
            Driver Signup
          </div>
          <div class="button-bg"id="user-btn">
            User Signup
          </div>
      </div>


    <!-- Container -->
      <div class="signup-box-container" id="user-form">

        <!-- Left Side -->
        <div>
            <form action="#" method="post">
                <div class="form-element">
                  <label for="name">User Name:</label>
                  <input type="text" id="user_name" name="user_name">
                </div>
                <div class="form-element">
                  <label for="repassword">Password:</label>
                  <input type="password" id="repassword" name="repassword">
                </div>
                <div class="form-element">
                  <label for="password">Retype Password:</label>
                  <input type="password" id="password" name="password">
                </div>
                <div class="form-element">
                  <label for="full_name">Full Name:</label>
                  <input type="text" id="full_name" name="full_name">
                </div>
                <div class="form-element">
                  <label for="nic">NIC:</label>
                  <input type="text" id="nic" name="nic">
                </div>
                <div class="form-element">
                  <label for="dob">D.O.B:</label>
                  <input type="date" id="dob" name="dob">
                </div>
                <button type="submit" name="button" class="button-bg form-btn">Create Account</button>
              </form>
          </div>

          <!-- Right Side -->
          <div>
            <img src="../assets/images/taxi.png" alt="Taxi Image" class="taxi-img">
            <div class="tag">Hire Us!<br>Save Your Time</div>
          </div>
        </div>

        <!-- Container -->
          <div class="signup-box-container" id="driver-form">

            <!-- Left Side -->
            <div>
                <form action="#" method="post">
                    <div class="form-element">
                      <label for="name">User Name:</label>
                      <input type="text" id="user_name" name="user_name">
                    </div>
                    <div class="form-element">
                      <label for="repassword">Password:</label>
                      <input type="password" id="repassword" name="repassword">
                    </div>
                    <div class="form-element">
                      <label for="password">Retype Password:</label>
                      <input type="password" id="password" name="password">
                    </div>
                    <div class="form-element">
                      <label for="full_name">Full Name:</label>
                      <input type="text" id="full_name" name="full_name">
                    </div>
                    <div class="form-element">
                      <label for="nic">NIC:</label>
                      <input type="text" id="nic" name="nic">
                    </div>
                    <div class="form-element">
                      <label for="dob">D.O.B:</label>
                      <input type="date" id="dob" name="dob">
                    </div>
                    <button type="submit" name="button" class="button-bg form-btn">Create Account</button>
                  </form>
              </div>

              <!-- Right Side -->
              <div>
                <img src="../assets/images/driver.png" alt="Taxi Image" class="driver-img">
                <div class="tag">Hire Us!<br>Save Your Time</div>
              </div>
            </div>

    </div>


    <script type="text/javascript" src="../assets/js/signup.js"></script>
  </body>
</html>
